accelerate==0.20.3
aim==3.17.5
bitsandbytes==0.39.1
# bitsandbytes==0.40.0
loguru==0.7.0
peft @ git+https://github.com/huggingface/peft.git@5a0e19dda1048ff8caaa12970ba7574f9cdfbf76
transformers @ git+https://github.com/huggingface/transformers.git@5bb4430edc7df9f9950d412d98bbe505cc4d328b